{% extends "base.html" %}
{% load static %}

{% block title %}
Register
{% endblock title %}

{% block content %}
<h1>User Registration</h1>
<form class="mt-4" action="" method="post">
    {% csrf_token %}
    <div class="row-6">
        <div class="col-6">
            <label for="id_username">Username: </label>
            <input type="text" class="textinput textInput form-control" id="id_username" name="username" autocomplete="username" maxlength="150" autofocus required>
            <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
        </div>
    </div>
    <div class="row-6 mt-3">
        <div class="col-6">
            <label for="id_password1">Password: </label>
            <input type="password" class="textinput textInput form-control" id="id_password1" name="password1" autocomplete="new-password" required>
            <small id="hint_id_password1" class="form-text text-muted">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </small>
        </div>
    </div>
    <div class="row-6 mt-3">
        <div class="col-6">
            <label for="id_password2">Confirm Password: </label>
            <input type="password" class="textinput textInput form-control" id="id_password2" name="password2" autocomplete="new-password" required>
            <small id="hint_id_password2" class="form-text text-muted">Enter the same password as before, for verification.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3 mb-3">Register</button>
</form>
{% endblock content %}