{% extends "base.html" %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<h1>About Us</h1>
<h5>We are computer science majors working on an optimal book shop!</h5>
<table class="table table-hover table-borderless bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Major</th>
            <th class="text-center" scope="col">Socials</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center align-middle">Joseph Comeaux</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/AirTenTony">Github</a>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">Jonathan Diaz</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/jdiaz286">Github</a>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">Youssef Elzein</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/youssefe95">Github</a>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">Diego Flores</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/dflores13">Github</a>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">Roberto Garcia</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/Robertog11">Github</a>
            </td>
        </tr>
        <tr>
            <td class="text-center align-middle">Yuridia Ginez</td>
            <td class="text-center align-middle">Computer Science</td>
            <td class="text-center align-middle">
                <a href="https://github.com/Yginez09">Github</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock content %}