{% extends "base.html" %}
{% load static %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<h1>About Us</h1>
<h5>We are computer science majors working on an optimal book shop!</h5>
<table class="table table-bordered table-hover ">
    <tr>
        <td><b>Name</b></td>
        <td><b>Major</b></td>
        <td><b>Socials</b></td>

    </tr>
    <tr>

        <td>Joseph Comeaux</td>
        <td>Computer Science</td>
        <td>Github</td>

    </tr>
    <tr>

        <td>Jonathan Diaz</td>
        <td>Computer Science</td>
        <td>Github</td>


    </tr>
    <tr>

        <td>Youssef Elzein</td>
        <td>Computer Science</td>
        <td>Twitter</td>


    </tr>
    <tr>

        <td>Diego Flores</td>
        <td>Computer Science</td>
        <td>Github</td>


    </tr>
    <tr>

        <td>Roberto Garcia</td>
        <td>Computer Science</td>
        <td>Github</td>


    </tr>
    <tr>

        <td>Yuridia Ginez</td>
        <td>Computer Science</td>
        <td>Github</td>


    </tr>

</table>

{% endblock content %}