{% extends "base.html" %}
{% load static %}

{% block title %}
All Books
{% endblock title %}

{% block content %}
<h1>All Books</h1>
<table class="table table-hover table-borderless bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Cover</th>
            <th class="text-center" scope="col">Seller</th>
            <th class="text-center" scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td class="text-center align-middle">
                <a href="book_details/{{ book.id }}"> {{ book.name }} </a>
            </td>
            <td class="text-center align-middle">
                <img src="{% static book.pic_path %}" width="60" height="60">
            </td>
            <td class="text-center align-middle">
                {{ book.username }}
            </td>
            <td class="text-center align middle ">
                <a href="shopping_cart" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Add To Cart</a>
                <a href="checkout" class="btn btn-secondary btn-lg" role="button" aria-disabled="true">Checkout</a>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}