{% extends "base.html" %}
{% load static %}

{% block title %}
All Books
{% endblock title %}

{% block content %}
<h1>All Books</h1>
<table class="table table-hover table-borderless bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Cover</th>
            <th class="text-center" scope="col">Seller</th>
            <th class="text-center" scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td class="text-center align-middle">
                <a href="book_details/{{ book.id }}"> {{ book.name }} </a>
            </td>
            <td class="text-center align-middle">
                <img src="{% static book.pic_path %}" width="60" height="90">
            </td>
            <td class="text-center align-middle">
                {{ book.username }}
            </td>
            <td class="text-center align middle ">
                <button type="submit" class="btn btn-primary mt-3">Add To Cart</button>
                <a href="checkout/{{ book.id }}" class="btn btn-secondary mt-3" >Checkout</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}