{% extends "base.html" %}
{% load static %}

{% block title %}
Book Details
{% endblock title %}

{% block content %}
<h1>Book Details</h1>
<table class="table table-borderless bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Cover</th>
            <th class="text-center" scope="col">Seller</th>
            <th class="text-center" scope="col">Web Site</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Publish Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center align-middle">
                {{ book.name }}
            </td>
            <td class="text-center align-middle">
                <img src="{% static book.pic_path %}" width="60" height="90">
            </td>
            <td class="text-center align-middle">
                {{ book.username }}
            </td>
            <td class="text-center align-middle">
                {{ book.web }}
            </td>
            <td class="text-center align-middle">
                {{ book.price }}
            </td>
            <td class="text-center align-middle">
                {{ book.publishdate }}
            </td>
        </tr>

    </tbody>

</table>

{% if comments %}
    <h3 class="mt-4">Comments Section:</h3>
    <table class="table table-borderless bg-light mt-4">
        <thead class="thead-light">
            <tr>
                <th class="text-center" scope="col">User</th>
                <th class="text-center" scope="col">Comment</th>
                <th class="text-center" scope="col">Posted</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td class="text-center align-middle">
                    {{ comment.username }}
                </td>
                <td class="text-center align-middle">
                    {{comment.content}}
                </td>
                <td class="text-center align-middle">
                    {{ comment.publishdate }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<form class="mt-4" action="" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <label for="id_content">Add Comment: </label>
            <textarea class="form-control" id="id_content" name="content" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Post</button>
</form>
{% endblock content %}