{% extends "base.html" %}
{% load static %}

{% block title %}
Book Details
{% endblock title %}

{% block content %}

<h1 align="center">Book Details</h1>
<table class="table table-light bg-light mt-4">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col">Cover</th>
            <th class="text-center" scope="col">Seller</th>
            <th class="text-center" scope="col">Web Site</th>
            <th class="text-center" scope="col">Price</th>
            <th class="text-center" scope="col">Publish Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center align-middle">
                {{ book.name }}
            </td>
            <td class="text-center align-middle">
                <img src="{% static book.pic_path %}" width="60" height="60">
            </td>
            <td class="text-center align-middle">
                {{ book.username }}
            </td>
            <td class="text-center align-middle">
                {{ book.web }}
            </td>
            <td class="text-center align-middle">
                {{ book.price }}
            </td>
            <td class="text-center align-middle">
                {{ book.publishdate }}
            </td>
        </tr>

    </tbody>

</table>
<h2 align="left">Comments Section:</h2>
<!--Display comments-->
{% for comment in comments %}
    {{ comment.name }}
    {{ comment.email }}
    {{ comment.publishdate }}


    <div> <p class="font-italic">{{comment.comment}}</p> </div>
    <br>


{% endfor %}


{% if submitted %}
  <h1>Your comment has been added.</h1>
{% else %}

    <form action="" enctype="multipart/form-data" method="post" novalidate>
        {{ form.as_p }}
         <input type="submit" value="Add Comment">
        {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}